---
import FormLayout from '../layouts/FormLayout.astro';
import { fetchFromApi } from '../lib/api/api';

const cookies = Astro.request.headers.get('cookie');
const token = cookies?.match(/token=([^;]+)/)?.[1];

let user = null;
let message = '';

if (token) {
  try {
    const result = await fetchFromApi('api/login', {
      headers: {
        Authorization: `Bearer ${token}`,
         Accept: 'application/json'
      }
    });
    console.log('RESULT:', result);
    
    user = result.user;
    message = result.message;

    console.log('Usuario:', user);
    console.log('Mensaje:', message);

  } catch (err) {
    console.error('Error al autenticar:', err);
    message = 'Error al autenticar usuario.';
  }
}
---
<FormLayout>
  {user ? (
    <>
      <h2>Bienvenido, {user.name}</h2>
      <p>Email: {user.email}</p>
      <p>{message}</p>
    </>
  ) : (
    <p>{message || 'Usuario no autenticado'}</p>
  )}
</FormLayout>
