---
import Nav from "../components/Nav.astro";
import "../styles/global.css";
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/lightbulb.svg" />
		<meta name="generator" content={Astro.generator} />
		<script src="../js/script.js"></script>
		<title>TipsWall</title>
	</head>
	<body class="min-h-screen bg-white">
		<div class="fixed inset-0 z-[-2] w-full h-full rotate-180 transform bg-white bg-[radial-gradient(60%_120%_at_50%_50%,hsla(0,0%,100%,0)_0,rgba(252,205,238,.5)_100%)]"></div>
		<Nav/>
		<slot />
	  </body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
